.gallery {
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 25px;
  padding: 50px 0 0 0;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 50px;
}

.gallery__cards {
  display: grid; /* Utilisation de la grille */
  grid-template-columns: repeat(3, 1fr); /* Trois colonnes égales */
  width: 90%;
  grid-column: 1 / -1;
  grid-gap: 50px;
}

.gallery__card {
  width: 100%; /* Les cartes occupent toute la largeur de la colonne */
  padding-bottom: 100%; /* Ratio d'aspect 1:1 pour la hauteur */
  border-radius: 10px;
  position: relative;
  transition: all 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    background: linear-gradient(180deg, rgba(255,255,255,0) 50%, rgba(0,0,0,0.4) 100%);
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }

  &__title {
    width: 30%;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    z-index: 1;
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 10px;
  }    
}

@media screen and (max-width: 900px) {
  .gallery {
    background-color: white;
    padding: 0;
    margin-bottom: 50px;
    grid-template-columns: 100%; /* Une seule colonne pour les écrans étroits */
  }

  .gallery__cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr; /* Une seule colonne pour les écrans étroits */
  }

  .gallery__card {
    width: 100%;
    padding-bottom: 100%;
    &__title {
      font-size: 18px;
    }
  }
}
