header {
    display: flex;
    justify-content: space-between;
    height: 68px;
    margin: 45px 0;
    nav {
        display: flex;
        align-items: center;
        width: 250px;
        ul{
            width: 100%;
            display: flex;
            flex-direction: row;
            list-style: none;
            padding: 0px;
            li{
                width: 50%;
                text-align: right;
                font-size: 24px;
                font-family: 'Montserrat', sans-serif;
                .underline{
                    text-decoration: underline;
                }
                a{
                    color: rgba(255, 97, 97);
                    text-decoration: none;
                }
            }
        }
    }
}
@media screen and (max-width: 900px) {

    header{
        height: 50px;
        margin-top: 20px;
        img{
            height: 50px;
        }
        
    }
    header {nav{
        width: 150px;
        ul{
        align-items: center;
        li {
            white-space: nowrap;
            font-size: 16px;
    }}}
}

}
